@model BlogModel

    <!--Nav-->
<nav class="bg-gray-900 p-4 mt-0 w-full">
    <div class="container mx-auto flex items-center">
        <div class="flex text-white font-extrabold">
            <a class="flex text-white text-base no-underline hover:text-white hover:no-underline" href="/">
                Pınar's Blog
            </a>
        </div>
        <div class="flex pl-4 text-sm">
            <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
            </ul>
        </div>
    </div>
</nav>



<!--Title-->
<div class="text-center pt-16 md:pt-32">
    <h1 class="font-bold break-normal text-3xl md:text-5xl">@Model.Title</h1>
</div>

<!--image-->
<div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded" style="height: 20vh;"></div>


<!--Container-->
<div class="container max-w-5xl mx-auto -mt-32">

    <div class="mx-0 sm:mx-6">

        <div class="bg-white w-full p-8 md:p-24 text-xl md:text-2xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

            <!--Post Content-->
            <!--Lead Para-->
            <p class="text-2xl md:text-3xl mb-5">
                @Model.Content    
            </p>

            <!--/ Post Content-->
        </div>
    </div>


   @* <div class="flex h-full bg-white rounded overflow-hidden shadow-lg">
        <a class="flex flex-wrap no-underline hover:no-underline">
            <div class="w-full md:w-2/3 rounded-t">
                <img src="~/img/latte.jpg" class="h-full w-full shadow" height="50" width="40">
            </div>


            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
                <div class="flex items-center justify-between">
                </div>
            </div>
        </a>
    </div>*@

    @*<div class="flex h-full bg-white rounded overflow-hidden shadow-lg">
        <a class="flex flex-wrap no-underline hover:no-underline">

            <div class="w-full md:w-2/3 rounded-t">
                <img src="~/img/latte.jpg" class="h-full w-full object-cover" alt="Latte Image">
            </div>

            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
                <div class="flex items-center justify-between">
                    <!-- Buraya içerik ekleyebilirsiniz, gerekirse -->
                </div>
            </div>

        </a>
    </div>*@


    <div class="flex h-full bg-white rounded overflow-hidden shadow-lg">
        <a class="flex flex-wrap no-underline hover:no-underline">
            <div class="w-full md:w-2/3 rounded-t">
                <img src="~/img/latte.jpg" class="h-full w-full object-cover shadow" alt="Latte Image">
            </div>
            @foreach (var item in Model.Comments)
            {
                 <div class="w-full md:w-2/3 rounded-t">

                <input placeholder="@item.Content" type="text" class="form-control" />
                

            </div>
            }
             <div class="w-full md:w-2/3 rounded-t">

                <input placeholder="yorum girin" id="commentText" type="text" class="form-control" />
                <input value="gonder" id="gonder" type="button" class="btn" />

            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
                <div class="flex items-center justify-between">
                    <!-- İçerik ekleyebilirsiniz, gerekirse -->
                </div>
            </div>
        </a>
    </div>
    
    <div class="flex h-full bg-white rounded overflow-hidden shadow-lg">
        <a class="flex flex-wrap no-underline hover:no-underline">
           

            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
                <div class="flex items-center justify-between">
                    <!-- İçerik ekleyebilirsiniz, gerekirse -->
                </div>
            </div>
        </a>
    </div>






       
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

        $(document).ready(function () {
            $("#gonder").click(function () {
                var Comment = $('#commentText').val();
                $.ajax({
                    type: "POST",
                    url: "/Home/CommentPost",
                    data: {
                        Comment: Comment,
                        Id:@Model.Id
                    },
                    success: function (response) {
                        window.location.reload();
    alert("Yorum başarıyla gönderildi!");
                    },
                    error: function (xhr, status, error) {
                        alert("Bir hata oluştu: " + error);
                    }
                });
            });
        });

</script>


